__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
dist
.coverage
Music_Library.egg-info
src/Music_Library.egg-info
build
coverage.json
Dump
Kubernetes/env-configmap.yaml
Kubernetes/music-library-secrets.yaml
Kubernetes/env-mongo-secret.yaml
Kubernetes/comandi-kubectl.txt
.ruff_cache/
.pytest_cache/
.benchmarks/