services:
  mongo:
    image: mongo:8.2.2
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}

  music-library:
    build: .
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - 5002:5002
    restart: always
