apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Values.namespace }}
  name: mongo-secrets
  labels:
    app: mongo
type: Opaque
data:
  MONGO_INITDB_ROOT_PASSWORD: ZXhhbXBsZQ==
  MONGO_INITDB_ROOT_USERNAME: cm9vdA==
