apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Values.namespace }}
  name:  music-library-secrets
  labels:
    app: {{ .Values.appLabel }}
data:
   DISCOGS_TOKEN: YourToken
   MONGO_PASS: YourPassword
   MONGO_USER: YourUser
type: Opaque
