apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: music-library
  name: mongo
  labels:
    app: mongo
spec:
  serviceName: "mongo"
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      securityContext:
        runAsNonRoot: false
        fsGroup: 999
      containers:
        - name: mongo
          image: mongo:8.2.2
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 27017
              protocol: TCP

          readinessProbe:
            tcpSocket:
              port: 27017
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3

          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
              ephemeral-storage: "2Gi"
            limits:
              memory: "512Mi"
              cpu: "500m"
              ephemeral-storage: "4Gi"
          envFrom:
            - secretRef:
                name: mongo-secrets


          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      restartPolicy: Always
  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 5Gi
