apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  namespace: music-library
  name: music-library
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: music-library-deployment
  minReplicas: 2
  maxReplicas: 4
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
