apiVersion: v1
kind: Secret
metadata:
  namespace: music-library
  name:  music-library-secret
  labels:
    app: music-library
data:
   DISCOGS_TOKEN: YOUR_BASE64_TOKEN
   MONGO_PASS: YOUR_BASE64_PASSWORD
   MONGO_USER: YOUR_BASE64_USERNAME
type: Opaque
