name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: make init

    - name: Lint
      run: make lint-check

    - name: Run tests
      run: make test
      
    - name: Build
      run: python -m build
