name: Release

on:
  workflow_run:
    workflows:
      - Bandit
      - Build
    types:
    - completed

permissions: write-all

jobs:
  release:
    if: github.event.workflow_run.name == 'Build' && github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist
          run-id: ${{ github.event.workflow_run.id }}

      - name: Display structure of downloaded files
        run: ls -R

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest build
          files: "*.whl"
